* @mozilla-platform-ops/relops

# TCEng writable areas – shared ownership
/config/tceng/* @mozilla-platform-ops/community-tc-admins
/scripts/windows/tceng/* @mozilla-platform-ops/relops @taskcluster/community-tc-admins
/scripts/linux/tceng/* @mozilla-platform-ops/relops @taskcluster/community-tc-admin