---
image:
  publisher: MicrosoftWindowsDesktop
  offer: Windows-10
  sku: win10-22h2-avd
  version: latest
sharedimage:
  gallery_name: "win10_64_2009"
  image_name: "win10_64_2009"
  image_version: 1.0.0
azure:
  managed_image_resource_group_name: rg-packer-through-cib
  managed_image_storage_account_type: Standard_LRS
  build_location: eastus
  locations:
    - canadacentral
    - centralindia
    - centralus
    - eastus
    - eastus2
    - northcentralus
    - northeurope
    - southindia
    - westus
    - westus2
    - westus3
vm:
  puppet_version: 8.5.1
  git_version: 2.46.0
  size: Standard_F8s_v2
  tags:
    base_image: win10642009azure
    worker_pool_id: win10-64-2009
    sourceOrganization: mozilla-platform-ops
    sourceRepository: ronin_puppet
    sourceBranch: windows
    deploymentId: "8346140"
    managed_by: packer
tests:
  - microsoft_tools_tester.tests.ps1
  - disable_services.tests.ps1
  - error_reporting.tests.ps1
  - suppress_dialog_boxes.tests.ps1
  - files_system_management.tests.ps1
  - firewall.tests.ps1
  - network.tests.ps1
  - ntp.tests.ps1
  - power_management.tests.ps1
  - scheduled_tasks.tests.ps1
  - azure_vm_agent.tests.ps1
  - virtual_drivers.tests.ps1
  - logging.tests.ps1
  - common_tools.tests.ps1
  - git.tests.ps1
  - mozilla_build_tester.tests.ps1
  - mozilla_maintenance_service.tests.ps1
  - windows_worker_runner.tests.ps1
  - gpu_drivers_latest.tests.ps1