---
image:
  publisher: MicrosoftWindowsDesktop
  offer: Windows-11
  sku: win11-24h2-avd
  version: latest
sharedimage:
  gallery_name: "win11_64_24h2"
  image_name: "win11_64_24h2"
  image_version: 1.0.0
azure:
  managed_image_resource_group_name: rg-packer-through-cib
  managed_image_storage_account_type: Standard_LRS
  build_location: eastus
  locations:
    - uksouth
    - eastus
    - eastus2
    - westus2
    - westus
vm:
  puppet_version: 8.5.1
  git_version: 2.46.0
  size: Standard_F8s_v2
  tags:
    base_image: win116424h2azure
    worker_pool_id: win11-64-24h2
    sourceOrganization: mozilla-platform-ops
    sourceRepository: ronin_puppet
    sourceBranch: windows
    deploymentId: "8346140"
    managed_by: packer
tests:
  - microsoft_tools_tester.tests.ps1
  - disable_services.tests.ps1
  - skip_oobe.tests.ps1
  - error_reporting.tests.ps1
  - suppress_dialog_boxes.tests.ps1
  - files_system_management.tests.ps1
  - firewall.tests.ps1
  - network.tests.ps1
  - ntp.tests.ps1
  - power_management.tests.ps1
  - scheduled_tasks.tests.ps1
  - azure_vm_agent.tests.ps1
  - virtual_drivers.tests.ps1
  - logging.tests.ps1
  - common_tools.tests.ps1
  - git.tests.ps1
  - mozilla_build_tester.tests.ps1
  - mozilla_maintenance_service.tests.ps1
  - windows_worker_runner.tests.ps1
  - gpu_drivers_latest.tests.ps1