---
image:
  publisher: MicrosoftWindowsDesktop
  offer: Windows-11
  sku: win11-24h2-avd
  version: 26100.6899.251011
sharedimage:
  gallery_name: "win11_64_24h2"
  image_name: "win11_64_24h2"
  image_version: "default"
azure:
  managed_image_resource_group_name: "default"
  managed_image_storage_account_type: "default"
vm:
  puppet_version: "default"
  git_version: "default"
  openvox_version: "default"
  size: Standard_F8s_v2
  tags:
    base_image: win116424h2azure
    worker_pool_id: win11-64-24h2
    sourceOrganization: "default"
    sourceRepository: "default"
    sourceBranch: "default"
    deploymentId: "eff5db6"
    managed_by: "default"
tests:
  - win11_sdk_tests.ps1
  - microsoft_vcc_win10_win11_x64.tests.ps1
  - disable_services.tests.ps1
  - skip_oobe.tests.ps1
  - error_reporting.tests.ps1
  - suppress_dialog_boxes.tests.ps1
  - files_system_management.tests.ps1
  - firewall.tests.ps1
  #- network.tests.ps1
  - ntp.tests.ps1
  - power_management.tests.ps1
  - scheduled_tasks.tests.ps1
  - azure_vm_agent.tests.ps1
  - virtual_drivers.tests.ps1
  - logging.tests.ps1
  - sevenzip.tests.ps1
  - git.tests.ps1
  - mozilla_build_tester.tests.ps1
  - mozilla_maintenance_service.tests.ps1
  - windows_worker_runner.tests.ps1
  - gpu_drivers.tests.ps1