---
image:
  publisher: MicrosoftWindowsDesktop
  offer: Windows-11
  sku: win11-24h2-avd
  version: 26100.7171.251109
sharedimage:
  gallery_name: "win116424h2alpha"
  image_name: "win116424h2alpha"
  image_version: 1.0.0
azure:
  managed_image_resource_group_name: rg-packer-worker-images
  managed_image_storage_account_type: Standard_LRS
  build_location: eastus
  locations:
    - uksouth
    - eastus
    - eastus2
    - westus2
    - westus
vm:
  puppet_version: 8.10.0
  git_version: 2.53.0
  openvox_version: 8.24.2
  size: Standard_E8ads_v6
  tags:
    base_image: win116424h2azure
    worker_pool_id: win11-64-24h2
    sourceOrganization: mozilla-platform-ops
    sourceRepository: ronin_puppet
    sourceBranch: "win11a6425h2-arm64-puppet"
    deploymentId: "NA"
    managed_by: packer
tests:
  - win11_sdk_tests.ps1
  - microsoft_vcc_win10_win11_x64.tests.ps1
  - disable_services.tests.ps1
  - skip_oobe.tests.ps1
  - error_reporting.tests.ps1
  - suppress_dialog_boxes.tests.ps1
  - files_system_management.tests.ps1
  - firewall.tests.ps1
  - enable_ipv6.tests.ps1
  - ntp.tests.ps1
  - power_management.tests.ps1
  - scheduled_tasks.tests.ps1
  - azure_vm_agent.tests.ps1
  - virtual_drivers.tests.ps1
  - logging.tests.ps1
  - sevenzip.tests.ps1
  - git.tests.ps1
  - mozilla_build.tests.ps1
  - mozilla_maintenance_service.tests.ps1
  - windows_worker_runner.tests.ps1
  - gpu_drivers.tests.ps1
  - mercurial.tests.ps1
  - microsoft_wptx64.tests.ps1
