---
image:
  publisher: MicrosoftWindowsDesktop
  offer: Windows-10
  sku: win10-22h2-avd-g2
  version: latest
sharedimage:
  gallery_name: "win10_64_2009_alpha"
  image_name: "win10_64_2009_alpha"
  image_version: 1.0.0
azure:
  managed_image_resource_group_name: rg-packer-worker-images
  managed_image_storage_account_type: Standard_LRS
  build_location: eastus
  locations:
    - ukwest
    - uksouth
vm:
  puppet_version: 8.10.0
  openvox_version: 8.19.2
  git_version: 2.50.1
  size: Standard_F8s_v2
  tags:
    base_image: win10642009azure
    worker_pool_id: win10-64-2009
    sourceOrganization: mozilla-platform-ops
    sourceRepository: ronin_puppet
    sourceBranch: "windows"
    deploymentId: "79dd0f2"
    managed_by: packer
tests:
  #- microsoft_tools_tester.tests.ps1
  - disable_services.tests.ps1
  - error_reporting.tests.ps1
  - suppress_dialog_boxes.tests.ps1
  - files_system_management.tests.ps1
  - firewall.tests.ps1
  - network.tests.ps1
  - ntp.tests.ps1
  - power_management.tests.ps1
  - scheduled_tasks.tests.ps1
  - azure_vm_agent.tests.ps1
  - virtual_drivers.tests.ps1
  - logging.tests.ps1
  - mercurial.tests.ps1
  - git.tests.ps1
  - mozilla_build_tester.tests.ps1
  - mozilla_maintenance_service.tests.ps1
  - windows_worker_runner.tests.ps1
  - gpu_drivers_latest.tests.ps1
