---
image:
  publisher: MicrosoftWindowsDesktop
  offer: Windows-11
  sku: win11-22h2-avd
  version: latest
sharedimage:
  gallery_name: "win11_64_2009_alpha"
  image_name: "win11_64_2009_alpha"
  image_version: 1.0.0
azure:
  managed_image_resource_group_name: rg-packer-worker-images
  managed_image_storage_account_type: Standard_LRS
  build_location: eastus
  locations:
    - uksouth
    - eastus
    - eastus2
    - westus2
    - westus
vm:
  puppet_version: "default"
  openvox_version: "default"
  git_version: "default"
  size: Standard_F8s_v2
  tags:
    base_image: win11642009azure
    worker_pool_id: win11-64-2009
    sourceOrganization: "default"
    sourceRepository: "default"
    sourceBranch: "win11a6425h2-arm64-puppet"
    deploymentId: "NA"
    managed_by: packer
tests:
  - disable_services.tests.ps1
  - microsoft_vcc_win10_win11_x64.tests.ps1
  - error_reporting.tests.ps1
  - suppress_dialog_boxes.tests.ps1
  - files_system_management.tests.ps1
  - firewall.tests.ps1
  - network.tests.ps1
  - ntp.tests.ps1
  - power_management.tests.ps1
  - scheduled_tasks.tests.ps1
  - azure_vm_agent.tests.ps1
  - virtual_drivers.tests.ps1
  - logging.tests.ps1
  - sevenzip.tests.ps1
  - git.tests.ps1
  - mozilla_build.tests.ps1
  - mozilla_maintenance_service.tests.ps1
  - windows_worker_runner.tests.ps1
  - gpu_drivers.tests.ps1
  - mercurial.tests.ps1
  - microsoft_tools_tester.tests.ps1