---
image:
  publisher: MicrosoftWindowsDesktop
  offer: windows11preview-arm64
  sku: win11-25h2-ent
  version: latest
sharedimage:
  gallery_name: "win11a6425h2builder"
  image_name: "win11a6425h2builder"
  image_version: "default"
azure:
  managed_image_resource_group_name: "default"
  managed_image_storage_account_type: "default"
vm:
  puppet_version: "default"
  git_version: "default"
  openvox_version: "default"
  size: Standard_E8pds_v5
  tags:
    base_image: win11a6425h2azurebuilder
    worker_pool_id: win11-a64-25h2-builder
    sourceOrganization: "default"
    sourceRepository: "default"
    sourceBranch: "windows"
    deploymentId: "default"
    managed_by: "default"
tests:
  - directx_sdk.tests.ps1
  - microsoft_binscope.tests.ps1
  - microsoft_vcc_2008_arm64.tests.ps1
  - microsoft_vcc_2010_arm64.tests.ps1
  - microsoft_vcc_2015_arm64.tests.ps1
  - microsoft_vcc_2022_arm64.tests.ps1
  - microsoft_wptx64.tests.ps1
  - disable_puppet_service.tests.ps1
  - disable_windows_update.tests.ps1
  - disable_uac.tests.ps1
  - suppress_dialog_boxes.tests.ps1
  - files_system_management.tests.ps1
  - firewall.tests.ps1
  - network.tests.ps1
  - ntp.tests.ps1
  - power_management.tests.ps1
  - scheduled_tasks.tests.ps1
  - azure_vm_agent.tests.ps1
  - mercurial.tests.ps1
  - logging.tests.ps1
  - sevenzip.tests.ps1
  - google_auth.tests.ps1
  - git.tests.ps1
  - mozilla_build.tests.ps1
  - windows_worker_runner.tests.ps1
  - error_reporting.tests.ps1
