---
image:
  publisher: MicrosoftWindowsServer
  offer: WindowsServer
  sku: 2012-R2-Datacenter
  version: latest
sharedimage:
  gallery_name: ""
  image_name: ""
  image_version: ""
azure:
  managed_image_resource_group_name: rg-packer-through-cib
  managed_image_storage_account_type: Standard_LRS
  build_location: eastus
  locations:
    - centralus
    - northcentralus
vm:
  puppet_version: 8.5.1
  git_version: 2.46.0
  size: Standard_F16s_v2
  tags:
    base_image: win2012r264azurevspy2
    worker_pool_id: win2012r2-64-vs-py2-l1
    sourceOrganization: mozilla-platform-ops
    sourceRepository: ronin_puppet
    sourceBranch: cloud_windows
    deploymentId: "7aa76c6"
    managed_by: packer
tests:
  - microsoft_tools_builder.tests.ps1
  - disable_services_builder.tests.ps1
  - error_reporting.tests.ps1
  - suppress_dialog_boxes.tests.ps1
  - files_system_management.tests.ps1
  - firewall.tests.ps1
  - network.tests.ps1
  - ntp.tests.ps1
  - power_management.tests.ps1
  - scheduled_tasks.tests.ps1
  - azure_vm_agent.tests.ps1
  - logging.tests.ps1
  - common_tools.tests.ps1
  - google_auth.tests.ps1
  - git.tests.ps1
  - mozilla_build.tests.ps1
  - windows_worker_runner.tests.ps1
