---
image:
  publisher: MicrosoftWindowsServer
  offer: WindowsServer
  sku: 2022-datacenter-azure-edition
  version: latest
sharedimage:
  gallery_name: "win2022_64_2009_alpha"
  image_name: "win2022_64_2009_alpha"
  image_version: 1.0.0
azure:
  managed_image_resource_group_name: rg-packer-worker-images
  managed_image_storage_account_type: Standard_LRS
  build_location: eastus
  locations:
    - centralus
    - northcentralus
    - eastus
vm:
  puppet_version: 8.10.0
  git_version: 2.48.1
  size: Standard_F32s_v2
  tags:
    base_image: win2022642009azure
    worker_pool_id: win2022-64-2009
    sourceOrganization: mozilla-platform-ops
    sourceRepository: ronin_puppet
    sourceBranch: "windows"
    deploymentId: "d65445c"
    managed_by: packer
tests:
  #- microsoft_tools_builder.tests.ps1
  - microsoft_tools_builder_core.tests.ps1
  #- disable_services_builder.tests.ps1
  - disable_services_builder_core.tests.ps1
  #- error_reporting.tests.ps1
  - suppress_dialog_boxes.tests.ps1
  - files_system_management.tests.ps1
  - firewall.tests.ps1
  - network.tests.ps1
  - ntp.tests.ps1
  - power_management.tests.ps1
  - scheduled_tasks.tests.ps1
  - azure_vm_agent.tests.ps1
  - logging.tests.ps1
  - google_auth.tests.ps1
  - git.tests.ps1
  - mozilla_build_builder.tests.ps1
  - windows_worker_runner.tests.ps1
