---
azure:
  managed_image_resource_group_name: rg-packer-worker-images
  managed_image_storage_account_type: Standard_LRS
sharedimage:
  image_version: 1.2.0
vm:
  puppet_version: 8.10.0
  git_version: 2.53.0
  openvox_version: 8.24.2
  tags:
    sourceOrganization: mozilla-platform-ops
    sourceRepository: ronin_puppet
    sourceBranch: windows
    managed_by: packer
    deploymentId: "6300771"
images:
  production:
    - win10-64-2009
    - win11-64-2009
    - win11-64-24h2
    - win11-64-25h2
    - win11-a64-24h2-tester
    - win11-a64-24h2-builder
    - win11-a64-25h2-tester
    - win11-a64-25h2-builder
    - win2022-64-2009
  alpha:
    - win10-64-2009-alpha
    - win11-64-2009-alpha
    - win11-64-24h2-alpha
    - win11-64-25h2-alpha
    - win11-a64-24h2-tester-alpha
    - win11-a64-24h2-builder-alpha
    - win11-a64-25h2-tester-alpha
    - win11-a64-25h2-builder-alpha
    - win2022-64-2009-alpha
