---
image:
  publisher: MicrosoftWindowsDesktop
  offer: windows11preview
  sku: win11-25h2-avd
  version: latest
azure:
  locations:
    - centralus
    - eastus
  managed_image_resource_group_name: "rg-tc-eng-images"
  managed_image_storage_account_type: "Standard_LRS"
vm:
  providerType: "azure"
  vm_size: Standard_D2s_v3
  bootstrapscript: "generic-worker-win2022-staging"
  tc_arch: "amd64"
  tags:
    - image_set: markco-generic-worker-win11-24h2-staging