run-name: TCEng AWS - ${{ github.event.inputs.config }}
name: TCEng AWS

on:
  workflow_dispatch:
    inputs:
      config:
        type: choice
        description: Choose which pool to build
        options:
          - generic-worker-ubuntu-24-04
          - generic-worker-ubuntu-24-04-arm64

permissions:
  id-token: write
  contents: read

env:
  AWS_ROLE_ARN: arn:aws:iam::885316786408:role/GitHubActionsRole

jobs:
  check-access:
    name: "Verify User Access"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Load Authorized Users and Check Access
        shell: pwsh
        run: |
          $TCEngUsers  = Get-Content .github/tceng.json  | ConvertFrom-Json
          $RelsreUsers = Get-Content .github/relsre.json | ConvertFrom-Json
          $AUTHORIZED_USERS = $TCEngUsers + $RelsreUsers

          if ($AUTHORIZED_USERS -contains "${{ github.actor }}") {
            Write-Host "User ${{ github.actor }} is authorized."
          } else {
            Write-Host "User ${{ github.actor }} is unauthorized."
            exit 1
          }

  packer:
    needs: check-access
    name: "AWS ${{ github.event.inputs.config }}"
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: us-west-2
          role-session-name: github-actions-packer-build

      - name: Setup Packer
        uses: hashicorp/setup-packer@1aa358be5cf73883762b302a3a03abd66e75b232

      - name: Run Packer
        shell: pwsh
        run: |
          Import-Module "${{ github.workspace }}/bin/WorkerImages/WorkerImages.psm1"
          $Vars = @{
            Key     = '${{ github.event.inputs.config }}'
            Region  = 'us-west-2'
          }

          New-AWSWorkerImage @Vars
